<%= stylesheet_link_tag "forms.css" %>

<div class="text-center form thin">
  <% if flash[:alert]  %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>

  <% end %>
  <h3 class="mb-4 font-weight-normal p-3 border-bottom">Please sign in</h3>

  <%= form_tag sessions_path do %>

    <label for="inputEmail" class="sr-only">Email address</label>

    <%= text_field_tag :mail,"", class: "form-control", placeholder: "Email address" %>

    <br>
  

    <label for="inputPassword" class="sr-only">Password</label>

    <%= password_field_tag :password,"", class: "form-control", placeholder: "Password" %>
    <br>



    <%= submit_tag "Login", class: 'btn btn-outline-secondary btn-lg btn-block'%>

    <div>
      <a class="p-3 text-dark" href="/clients/new">Don't have an account?</a>
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
  <%end%>
</div>
