<% if !current_admin.nil? %>
<div class="container">
  <br>
  <br>
  <h1 class="border-bottom pb-3 pt-3">Your informations</h1>
  <br>
  <p><strong>First name : </strong><%= @admin.prenom %></p>
  <p><strong>Last name : </strong><%= @admin.nom %></p>
  <p><strong>Username : </strong><%= @admin.mail %></p>
  <div class="d-flex justify-content-start pt-4">
    <div class=""><a href="<%= edit_admin_path(@admin.id) %>" class="btn btn-outline-secondary mr-2">Edit</a></div>
    <div class=""><a href="<%= new_admin_path %>" class="btn btn-outline-secondary mr-2">Add an admin</a></div>
    <div class=""><a href="<%= admin_path(@admin.id) %>" class="btn btn-danger " data-confirm="Ae you sure?" data-method="DELETE">Delete account</a></div>
  </div>
</div>
<% end %>
