<%= stylesheet_link_tag "forms.css" %>
<% if !current_admin.nil? %>
<div class="text-center form">
   <% if @admin.errors.any?  %>
    <div class="alert alert-danger">
      <ul>
        <% @admin.errors.full_messages.each do |message| %>
          <li> <%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>
  <h3 class="mb-3 font-weight-normal p-3 border-bottom">Creating a new admin</h3>
  <%= form_with scope: :admin, url: admins_path, local: true do |form| %>
    <div class="d-md-flex flex-md-equal  justify-content-center align-content-start">

      <div class="flex-fill p-1">
        <label for="inputFirtName" class="sr-only">First name</label>
        <%= form.text_field :prenom, class: 'form-control', placeholder: 'First name' %>
      </div>
      <div class="flex-fill p-1">
        <label for="inputLastName" class="sr-only">Last Name</label>
        <%= form.text_field :nom, class: 'form-control', placeholder: 'Last name' %>
      </div>

    </div>

    <br>

    <label for="inputUsername" class="sr-only">Username</label>
    <%= form.text_field :mail, class: "form-control", placeholder: "Username" %>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
    <br>
    <label for="inputPasswordConfirmation" class="sr-only">Password Confirm</label>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
    <br>
    <br>

    <%= form.submit "Register", class: 'btn btn-outline-secondary btn-lg btn-block' %>

  <% end %>


  <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</div>
<% end %>