<%= stylesheet_link_tag "forms.css" %>

<div class="text-centerd form">
<% if !current_admin.nil? %>
  <h3 class="mb-3 font-weight-normal p-3 border-bottom">Edit an article</h3>

  <%= form_for @article do |f| %>
    <div class="form-group">
      <label>Article name</label>
     <%= f.text_field :libelle, class: 'form-control' %>
      <br>
     <label>Price</label>
     <%= f.text_field :prix, class: 'form-control' %>
    </div>
    <div class="d-flex justify-content-start">
      <div class=""><%= f.submit "Update", class: 'btn btn-outline-success btn-lg btn-block'%></div>
      <div class="pl-4"><a href="/articles" class="btn btn-outline-secondary btn-lg btn-block">return</a></div>
    </div>
  <% end %>

<% end %>
</div>