<% if !current_admin.nil?%>
<div  class="container">
  <h1>Articles </h1>


  <% @articles.each do |article| %>
    <div class="d-inline-flex flew-row justify-content-start text-center border-bottom">
    <div class="m-3"><h3><%= article.libelle %> : </h3></div>
    <div class="m-3"><h3><%= article.prix %> euros </h3></div>
      <div>
        <p>
          <a href="<%= article_path(article.id) %>" class="btn btn-secondary m-3">Consult</a>
        </p>
      </div>
      <% if !current_admin.nil?%>
      <div>
        <p>
          <a href="<%= edit_article_path(article.id) %>" class="btn btn-secondary m-3">Edit</a>
        </p>
      </div>
      <div>

        <p>
          <a href="<%=article_path(article.id) %>" class="btn btn-danger m-3" data-confirm="Sure?" data-method="DELETE">Delete article</a>

        </p>
      </div>
      <% end%>
    </div>
    


  <% end %>

   <% if !current_admin.nil? %>
  <p>
    <a href="<%= new_article_path %>" class="btn btn-outline-secondary mt-3">New article</a>
    <a href="<%= new_category_path %>" class="btn btn-outline-secondary mt-3 ml-3">New category</a>

  </p>
  <% end %>

</div>

<% end %>
