<%= stylesheet_link_tag "forms.css" %>

<% if !current_admin.nil?%>

 <% if @article.errors.any?  %>
    <div class="container alert alert-danger">
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li> <%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>


<div class="text-centerd form thin">

<h3 class="mb-3 font-weight-normal p-3 border-bottom">New article</h3>
<br>


<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <p>
    <label for="inputLibelle" class="sr-only">Product name</label>
      <%= form.text_field :libelle, class: "form-control", placeholder: "Product name"%>
    </p>

    <p>
    <label for="inputPrix" class="sr-only">Price</label>
      <%= form.text_field :prix, class: "form-control", placeholder: "Price"%>
    </p>
    <br>
    <h5 class="mb-3 font-weight-light p-2 border-bottom">Category</h5>

    <div class="p-2">
        <%= form.select(:categorie, [['Clothes', 1], ['Goodies', 2], ['Others', 3]], { class: "dropdown" })%>
    </div>
    
    <br>
    <div class="mb-2">
    <%= form.file_field :avatar, class: "form-control"%>  
    </div>
    <br>
  
    <p>
      <%= form.submit "Create", class: 'btn btn-outline-secondary btn-lg btn-block'%>
    </p>
  <% end %>

<% end %>
</div>
  