<%= stylesheet_link_tag "application.css" %>

<main class="container">

<div class="d-md-flex m-5 pt-5 align-items-stretch justify-content-between">
<div class="ml-md-5 mb-5 mt-5" >
 <%= image_tag @article.avatar.variant(resize_to_fit: [300, 450]), :class => " border shadow"%>
</div>

<div class="bg-light  p-4 side">
<h2 class="border-bottom m-2 pb-2"> <%= @article.libelle %></h2>
<br>
<h3> <%= @article.prix %> € </h3>
<br>
<h3> <%= @article.categorie%> </h3>
<br>
<div>
<% if !current_user.nil? %> <a href="<%= contients_path %>" class="btn btn-outline-success m-1" data-method="CREATE">Add to cart</a> <% end %>

<a href="/articles" class="btn btn-secondary m-1">return</a>

</div>

</main>


