<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>

      html{
        height: 100%;
      }

      body {
        min-height:100% ;
        margin: 0;
        padding: 0;
        position: relative;
      }
      footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 7rem;
      }

  </style>


</head>

<body>
<% if (!current_user.nil? || !current_admin.nil?) %>

  <header class="shadow d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm sticky-top">
    <h4 class="my-0 mr-md-auto font-weight-normal">Tit's n love</h4>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">Home</a>
      <a class="p-2 text-dark" href="<%= panier_path(cookies[:panier]) %>">Cart</a>
      <a class="p-2 text-dark" href="/clients">My account</a>
    </nav>
      <a class="btn btn-outline-secondary" href="<%= deco_path(current_user.id) %>"  data-method="DESTROY ">Disconnect</a>
  </header>

  <div class="container">

    <% if flash[:notice]  %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>

    <% end %>

  </div>

<% else %>

<header class="shadow d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm sticky-top">
  <h4 class="my-0 mr-md-auto font-weight-normal">Tit's n love</h4>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">Home</a>
    <a class="p-2 text-dark" href="/sessions/new">Connect</a>
  </nav>
  <a class="btn btn-outline-secondary" href="/admins/new">Register</a>
</header>

<div class="container">

  <% if flash[:notice]  %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>

    <% end %>
</div>

<%end%>


<%= yield %>

<div class="d-flex justify-content-center mb-3">
  <div class="ml-3"><a title="Facebook" class="_119KPCL _2NargtT" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" data-testid="social-link">Facebook</a></div>
  <div class="ml-3"><a title="Instagram" class="_119KPCL _1Yb89Mi" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" data-testid="social-link">Instagram</a></div>
  <div class="ml-3"><a title="Snapchat" class="_119KPCL _3rAdG8H" href="https://www.snapchat.com/" target="_blank" rel="noopener noreferrer" data-testid="social-link">Snapchat</a></div>
</div>
<footer class="footer py-3 bg-dark">

</footer>






<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>